%html
  %body
    %h1 Sales Tax Report
    %p
    %table{:border => 1}
      %tbody
        %tr
          %th Order Number
          %th Date / Time Placed
          %th Name
          %th Address
          %th County
          %th Discretionary Tax Rate
        - orders.each do |order|
          %tr
            %td= order["Order #"]
            %td= order["Date / Time Placed"]
            %td= order["Billing First Name"].downcase.capitalize + " " + order["Billing Last Name"].downcase.capitalize
            %td= order[:address_string]
            %td= order[:county]
            %td= order[:discretionary_tax] + "%"