%html
  %body
    %h1 Sales Tax Report
    %p
    %table{:border => 1}
      %tbody
        %tr
          %th OrderNumber
          %th Date
          %th ProductName
          %th Total
          %th Refunded
          %th Taxable
          %th StudentName
          %th Address
          %th County
          %th Discretionary Tax
        - orders.each do |order|
          %tr
            %td= order["OrderNumber"]
            %td= order["Date"]
            %td= order["ProductName"]
            %td= order["Total"]
            %td= order["Refunded"]
            %td= order["Taxable"]
            %td= order["StudentName"]
            %td= order[:address_string]
            %td= order[:county]
            %td= order[:discretionary_tax] + "%"
            %td= order[:tax]
